<div class="flex items-center mb-8">
  <div class="text-2xl">Configurações</div>
</div>

<div class="flex mb-4">
  <div class="w-3/4 bg-gray-500 h-12"></div>
  <div class="w-1/4 bg-gray-400 h-12"></div>
</div>

<div class="flex">

  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Agrupamentos</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="px-4 py-4">
      Configurações dos tipos de agrupamentos disponíveis. 
    </mat-card-content>
    <mat-card-actions class="flex items-center">
      <button mat-raised-button color="primary" class="flex-1">Visitar</button>
    </mat-card-actions>
  </mat-card>

<div>
