a {
  text-decoration: none;
}

.navbar {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+95,89c3eb+95,d5ebfb+100 */
  background: rgb(235,241,246); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 95%, rgba(137,195,235,1) 95%, rgba(213,235,251,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 95%,rgba(137,195,235,1) 95%,rgba(213,235,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 95%,rgba(137,195,235,1) 95%,rgba(213,235,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
}

.navbar-end {
  margin-top: -10px;
}